fastapi==0.120.3
uvicorn==0.38.0
langchain==0.2.16
langchain_classic
langchain-google-genai==3.0.0
langchain-huggingface==1.0.0
langchain-postgres==0.0.16
langchain-qdrant==1.1.0
psycopg2-binary==2.9.11
requests==2.32.5
pydantic==2.12.3
python-dotenv==1.2.1
